@import "./base/variable/color";
.page_card_row {
  border-bottom: 1px solid @weuiLineColorLight;
  &:nth-last-child(1) {
    border-bottom: none;
  }
  .my-text {
    color: @weuiTextColorDesc;
    font-size: 32rpx;
    height: 24rpx;
    line-height: 24rpx;
    width: 150rpx;
    &.my-text-active {
      color: @weuiColorPrimary;
    }
  }
  .my-text-right {
    color: @weuiTextColorLight;
    // flex: auto;
    text-align: right;
  }
}