var statusText = function (status) {
    var text = ''
    switch (status) {
        case 1:
            text = '待审核'
            break;
        case 2:
            text = '已通过'
            break;
        case 3:
            text = '未通过'
            break;
        default:
            text = ''
    }
    return text
}
var statusTeamText = function (status) {
    console.log(status)
    var text = ''
    switch (status) {
        case 0:
            text = '待审核'
            break;
        case 1:
            text = '已同意'
            break;
        case 2:
            text = '已拒绝'
            break;
        case 3:
            text = '已取消申请'
            break;
        case 4:
            text = '其他团队已接'
            break;
        default:
            text = ''
    }
    return text
}
var statusReceiptText = function (invoice_status, interview_status, entry_status, type) {
    console.log(invoice_status, interview_status, entry_status, type)
    var text = ''
    if (invoice_status == 0) {
        text = '收集中'
    } else if (invoice_status == 1) {
        text = '审核中'
    } else if (invoice_status == 2) {
        if (type == 1) {
            text = '面试开始'
        } else if (type == 2) {
            if (interview_status <= 1) {
                text = '面试开始'
            } else (interview_status == 2) {
                if (!entry_status) {
                    text = '面试结束'
                } else if (entry_status == 1) {
                    text = '入职开始'
                } else (entry_status == 2) {
                    text = '入职结束'
                }
            }
        } else {
            if (entry_status <= 1) {
                text = '入职开始'
            } else if (entry_status == 2) {
                text = '入职结束'
            } else if (entry_status == 3) {
                text = '审核入职'
            } else {
                text = '审核结束'
            }
        }
    } else {
        text = ''
    }
    return text
}
module.exports = {
    statusText: statusText,
    statusTeamText: statusTeamText,
    statusReceiptText: statusReceiptText
}
